Diagnostics:
  Suppress: [anon_bitfield_qualifiers]
CompileFlags:
  Remove: [
    "-findirect-inlining",
    "-fdevirtualize-at-ltrans"
  ]
  Add:
    - -ferror-limit=0
  CompilationDatabase: build-fprime-automatic-microchip_curiosity
